.topic {
    color:rgb(5, 5, 5)
}
.footer {
    color:rgb(15, 14, 14)
}
#topic {
    color:#e3d4c5;
    border: 3px #453321 dashed;
    margin: 60px;
    padding: 0px 500px;
}
body {
    background-color:#8a6642;
    font-family: "Comfortaa", sans-serif;
}
.food {
    background-color: #bbd3a3;
    margin: 20px;
    padding: 40px;
}
#korsina {
    background-color: #4f6a33;
    border: 3px dashed #91b76a;
    padding: 0px 500px;
    margin: 20px;
}
#gym {
    background-color: #5c8cb1;
    border: 3px dashed #4d6ba1;
    padding: 0px 500px;
}
.navigation {
color: #e3d4c5;
margin: 20px;
}
.gym {
    background-color: #9fbbd1;
    margin: 20px;
    padding: 40px;
}
#lifehacks {
    background-color:#a85750;
    border: 3px dashed #bd7b75;
    padding: 0px 500px
}
.lifehacks {
    background-color: #c38680;
    margin: 20px;
    padding: 40px;
}
.icon {
width: 300px; height: 300px; border: 1px solid white;   ;
}
a {
    text-decoration: none;
    color: black;
}
.icon1 {
    height: 200px;
    scale: 0.2; border: 1px solid white;
}
.aboutme {
margin: 20px;
background-color: #e3d4c5;
}
.aboutmeinfo {
margin: 20px;
padding: 40px 20px;
}
.proteins {
margin: 20px;
}
.carbs {
margin: 20px;
}
.fats {
margin: 20px;
}
.proteins, .fats, .carbs {
    display: inline-block;
}
.recipes {
    margin: 50px 0px;
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px
}
#resipe1, #resipe2, #resipe3 {
    display: inline-block;
    justify-content: space-between;
}
#resipe1 {
    margin: 50px 50px
}
#resipe2 {
    margin: 50px 50px
}
#resipe3 {
    margin: 50px 50px
}
.products {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around ; 
}
.trenirovki {
    margin: 20px 50px ;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px
}
#korsina, #gym, #lifehacks {
    font-family: "Rubik Bubbles", system-ui;
}
#factors {
    margin: 20px 50px
}
.myplates {
padding: 50px;
margin: 20px;
}
